@font-face {
   font-family: 'Jenriv Titling';
   src: url('./assets//fonts//jenriv-titling/JenrivTitling-Bold.otf'),
      url('./assets/fonts/jenriv-titling/JenrivTitling-BoldItalic.otf');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Jenriv Titling', sans-serif;
}
